
@media only screen and (max-width: 1024px){
/* menu*/
.menu{
    width: 100%;
    font-size: 14px;
}
.nav_main{
    font-size: 30px;
}
.nav_main img{
    width: 60%;
    display: flex;
}
/* menu_buttons */
.nav_menu_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;

}
/* games */
.nav_fa_games a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
/* reading */
.nav_fa_reading a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
/* videos */
.nav_fa_videos a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
/* Zone */
.nav_fa_Zone a{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
/* gradePage */
.gradePage{
    font-weight: bolder;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #dbd7d2;
}
.grade_span_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}
.grade_span_k a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #dd89b7;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_k a:hover{
    background-color: #dd89b7;
    color: black;
    transition: all 1s;
}
.grade_span_1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #66a2cc;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_1 a:hover{
    transition: all 1s;
    background-color: #66a2cc;
    color: black;
}
.grade_span_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #fcbe55;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_2 a:hover{
    transition: all 1s;
    background-color: #fcbe55;
    color: black;
}
.grade_span_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377;
    color: #aabe53;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_3 a:hover{
    transition: all 1s;
    background-color: #aabe53;
    color: black;
}
.grade_span_4 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #f48f4a;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_4 a:hover{
    transition: all 1s;
    background-color: #f48f4a;
    color: black;
}
.grade_span_5 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #a585be;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_5 a:hover{
    transition: all 1s;
    background-color: #a585be;
    color: black;
}
.grade_span_6 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ddd64e;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_6 a:hover{
    transition: all 1s;
    background-color: #ddd64e;
    color: black;
}
.grade_span_7 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ff5c5c;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_7 a:hover{
    transition: all 1s;
    background-color: #ff5c5c;
    color: black;
}
.grade_span_8 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #7ab3b2;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_8 a:hover{
    transition: all 1s;
    background-color: #7ab3b2;
    color: black;
}
/* video */
.video{
    padding: 0px;
}
/* footer */
.footer{
    padding: 50px;
    background-color: #2a2928;
    width: 100%;
    height: 200px;
    color: #f0ece7;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 11px;
}
/* footerGrade */
.footerGrade{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* footertype */
.footerType{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* footerAbout */
.footerAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* footerPrivacyPolice */
.footerPrivacyPolice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.privacyPolice li:first-child{
    color: #fff;
    font-weight: 700;
}
/* 1 */
/* оформление рамки блока */
.FirstBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.FirstBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#66a2cc;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.FirstBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #485b68;
   font-size: 15px;
 }
 /* 2 */
/* оформление рамки блока */
.SecondBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.SecondBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#fcbe55;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.SecondBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #746246;
   font-size: 15px;
 }
/* 3 */
/* оформление рамки блока */
.ThirdBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.ThirdBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#aabe53;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.ThirdBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #5a5e48;
   font-size: 15px;
 }
 /* 4 */
 /* оформление рамки блока */
.FourBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.FourBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#f48f4a;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.FourBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #745948;
   font-size: 15px;
 }
  /* 5 */
 /* оформление рамки блока */
.FiveBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.FiveBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#a585be;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.FiveBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #573e69;
   font-size: 15px;
 }
   /* 6 */
 /* оформление рамки блока */
.SixBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.SixBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#ddd64e;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.SixBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #858258;
   font-size: 15px;
 }
    /* 7 */
 /* оформление рамки блока */
.SevenBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.SevenBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#ff5c5c;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.SevenBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #684040;
   font-size: 15px;
 }
     /* 8 */
 /* оформление рамки блока */
.EightBlogInfo {
    background: #fffdf7;
   border: 1px solid #000000;
   padding: 3px 5px 3px 30px;
    margin: 50px;
    text-align: justify;
    border-radius: 5px;
  box-shadow: 12px 12px 12px  12px #ccc3b3;
}
/* оформление заголовка блока */
.EightBlogInfo-head {
    font-size: 30px;
    font-weight: bolder;
    color:#7ab3b2;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.EightBlogInfo-txt {
    font-weight: bolder;
    line-height: 40px;
    color: #476b6b;
   font-size: 15px;
 }
.goBack button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;   
}
.goBackTo button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;  
}
.goBackToThree button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;  
}
.goBackToFour button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px; 
}
.goBackToFive button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;  
}
.goBackToSix button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;  
}
.goBackToSeven button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;  
}
.goBackToEight button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
}
.goBackInst button{
    font-size: 15px;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    padding: 20px;  
}
}
@media only screen and (max-width: 800px){
    .video{
       
    }
}
@media only screen and (max-width: 600px){
    .FirstBlogInfo-txt{
font-size: 13px;
    }
.SecondBlogInfo-txt{
font-size: 13px;
}
.ThirdBlogInfo-txt{
 font-size: 13px;
}
.FourBlogInfo-txt{
 font-size: 13px;
}
.FiveBlogInfo-txt{
    font-size: 13px;
        }
.SixBlogInfo-txt{
font-size: 13px;
}
.SevenBlogInfo-txt{
    font-size: 13px;
        }
        .EightBlogInfo-txt{
            font-size: 13px;
                }
    .nav_games{
        display: none;
    }
    .nav_videos{
        display: none;
    }
    .nav_reading{
        display: none;
    }
    .nav_zone{
        display: none;
    }
    .grade_span_text{
        font-size: 2px;
    }
}
@media only screen and (max-width: 320px){
    .FirstBlogInfo-txt{
font-size: 13px;
    }
.SecondBlogInfo-txt{
font-size: 13px;
}
.ThirdBlogInfo-txt{
 font-size: 13px;
}
.FourBlogInfo-txt{
 font-size: 13px;
}
.FiveBlogInfo-txt{
    font-size: 13px;
        }
.SixBlogInfo-txt{
font-size: 13px;
}
.SevenBlogInfo-txt{
    font-size: 13px;
        }
        .EightBlogInfo-txt{
            font-size: 12px;
                }
    .nav_games{
        display: none;
    }
    .nav_videos{
        display: none;
    }
    .nav_reading{
        display: none;
    }
    .nav_zone{
        display: none;
    }
    .grade_span_text{
        font-size: 2px;
    }
    .footer{
        font-size: 11px;
        padding: 20px;
    }
}