*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black;
    height: 500px;
    
  }

/* menu*/
.menu{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: fixed;
    font-weight: bold;
    background: #4f2377; 
    z-index: 1;
}
.nav_main{
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

}

/* menu_buttons */
.nav_menu_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;

}

/* games */
.nav_fa_games a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_games{
    color: #3bdad7;
}
.nav_games{
    color: #3bdad7;
}

/* reading */
.nav_fa_reading a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}

.fa_reading{
    color: #b3aeae;
}
.nav_reading{
    color: #b3aeae;
}

/* videos */
.nav_fa_videos a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_videos{
    color: #b3aeae;
}
.nav_videos{
    color: #b3aeae;
}



/* Zone */
.nav_fa_Zone a{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_Zone{
    color: #b3aeae;
}
.nav_Zone{
    color: #b3aeae;
}
/* gradePage */
.gradePage{
    font-weight: bolder;
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #dbd7d2;
}
.grade_span_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}
.grade_span_k a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #dd89b7;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    transition: all 1s;
}
.grade_span_k a:hover{
    background-color: #dd89b7;
    color: black;
    transition: all 1s;
}

.grade_span_1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #66a2cc;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_1 a:hover{
    transition: all 1s;
    background-color: #66a2cc;
    color: black;
}

.grade_span_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #fcbe55;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_2 a:hover{
    transition: all 1s;
    background-color: #fcbe55;
    color: black;
}
.grade_span_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #aabe53;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_3 a:hover{
    transition: all 1s;
    background-color: #aabe53;
    color: black;
}

.grade_span_4 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #f48f4a;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_4 a:hover{
    transition: all 1s;
    background-color: #f48f4a;
    color: black;
}
.grade_span_5 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #a585be;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_5 a:hover{
    transition: all 1s;
    background-color: #a585be;
    color: black;
}

.grade_span_6 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #ddd64e;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_6 a:hover{
    transition: all 1s;
    background-color: #ddd64e;
    color: black;
}
.grade_span_7 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #ff5c5c;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_7 a:hover{
    transition: all 1s;
    background-color: #ff5c5c;
    color: black;
}
.grade_span_8 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: #4f2377; 
    color: #7ab3b2;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_8 a:hover{
    transition: all 1s;
    background-color: #7ab3b2;
    color: black;
}
/* main_container */
.main_container{
    background-color: #f0ece7;
}

.PopularGames{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularGames a{
    color: black;
    text-decoration: none;
}

.PopularGames span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularGames span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularGames a:hover{
    color:#46ccc5;
}

/* PopularVideos */
.PopularVideos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularVideos a{
    color: black;
    text-decoration: none;
}

.PopularVideos span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularVideos span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularVideos a:hover{
    color:#46ccc5;
}

/* PopularVideos */
.PopularBooks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularBooks a{
    color: black;
    text-decoration: none;
}

.PopularBooks span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularBooks span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularBooks a:hover{
    color:#46ccc5;
}
/* empty_panel */

.empty_panel{
    padding: 20px;
    background-color: #f0ece7;
}


/* splitedPanel */
.splitedPanel{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    
}
/* splitedPanel_pic*/
.splitedPanel_pic{
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.splitedPanel_pic img{
    width: 400px;
    height: 400px;
}
/* splitedPanel_text */
.splitedPanel_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.splitedPanel_text img{
    width: 150px;
    height: 50px;
}
.splitedPanel_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.splitedPanel_secondSpan{
    font-size: 18px;
    font-weight: 200;
    font-family: 'Ubuntu Condensed', sans-serif;

}
/* button */
.splitedPanel_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.splitedPanel_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.splitedPanel_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

/* exampleOfgames */

.games_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfGame */
.first_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfGame_text{
    padding: 20px;
    
}
/* second_exampleOfGame */
.second_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfGame_text{
    padding: 20px;
    
}
/* third_exampleOfGame */
.third_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
    background-color: #fff9f0;
}
.third_exampleOfGame_text{
   padding: 20px;
   
}


/* example_of_games Button */
.exampleOfGame_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfGame_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfGame_button:hover{
    font-family: Poppins,sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}


/* video */
.video{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* video_example */

.video_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfVideo */
.first_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfVideo_text{
    padding: 20px;
    
}
/* second_exampleOfVideo */
.second_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfVideo_text{
    padding: 20px;
    
}
/* third_exampleOfVideo */
.third_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
}
.third_exampleOfVideo_text{
   padding: 20px;
   
}


/* example_of_Video Button */
.exampleOfVideo_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfVideo_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfVideo_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

.video{
    background-color: #f0ece7;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* exampleOfBooks */

.books_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfBooks */
.first_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfBooks_text{
    padding: 20px;
    
}
/* second_exampleOfBooks */
.second_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfBooks_text{
    padding: 20px;
    
}
/* third_exampleOfBooks */
.third_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
}
.third_exampleOfBooks_text{
   padding: 20px;
   
}


/* example_of_games Button */
.exampleOfBooks_button {
    font-family: Poppins,sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfBooks_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfBooks_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}


/* footer */
.footer{
    padding: 50px;
    background-color: #2a2928;
    width: 100%;
    height: 300px;
    color: #f0ece7;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.footer_item a{
    color: #f0ece7;
    text-decoration: none;
}
/* footerGrade */
.footerGrade{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerGrade_span_text{
    list-style: none;
}

.footerGrade_span_text li:first-child{
    color: #40ccc5;
}

/* footertype */
.footerType{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerType_text{
    list-style: none;
}
.footerType_text li:first-child{
    color: #a585be;
}
/* footerAbout */
.footerAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerAboutSite{
    list-style: none;
}
.footerAboutSite li:first-child{
    color: #aabe53;
}

/* footerPrivacyPolice */
.footerPrivacyPolice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.privacyPolice{
    list-style: none;
}
.privacyPolice li:first-child{
    color: #fff;
    font-weight: 700;
}
.privacyPolice li {
    color: lightgray;
}

/* game */


/* splider */
.slider{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startFirstGame{
    display: flex;

    
}
/* splitedPanel_pic*/
.slider_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.slider_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.slider_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.slider_text img{
    width: 150px;
    height: 50px;
}
.slider_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.slider_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.slider_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.slider_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.slider_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.slider_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* 2игра */


/* splider */
.WhereIsCar{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startSecondGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsCar_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsCar_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsCar_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsCar_text img{
    width: 150px;
    height: 50px;
}
.WhereIsCar_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsCar_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsCar_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsCar_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsCar_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsCar_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

/* 3 game */

/* splider */
.WhereIsButterfly{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startThirdGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsButterfly_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsButterfly_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsButterfly_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsButterfly_text img{
    width: 150px;
    height: 50px;
}
.WhereIsButterfly_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsButterfly_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsButterFly_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsButterFly_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsButterfly_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsButterfly_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* 4 game */

/* splider */
.WhereIsTreeList{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startFourGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsTreeList_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsTreeList_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsTreeList_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsTreeList_text img{
    width: 150px;
    height: 50px;
}
.WhereIsTreeList_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsTreeList_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsTreeList_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsTreeList_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsTreeList_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsTreeList_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* 5 game */

/* splider */
.WhereIsErudit{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startFiveGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsErudit_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsErudit_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsErudit_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsErudit_text img{
    width: 150px;
    height: 50px;
}
.WhereIsErudit_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsErudit_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsErudit_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsErudit_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsErudit_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsErudit_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

/* 6 game */

/* splider */
.WhereIsThisItem{
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startSixGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsThisItem_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsThisItem_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsThisItem_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsThisItem_text img{
    width: 150px;
    height: 50px;
}
.WhereIsThisItem_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsThisItem_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsThisItem_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsThisItem_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsThisItem_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsThisItem_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* 7 game */

/* splider */
.WhereIsDomik {
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startSevenGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsDomik_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsDomik_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsDomik_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsDomik_text img{
    width: 150px;
    height: 50px;
}
.WhereIsDomik_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsDomik_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsDomik_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsDomik_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsDomik_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsDomik_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* 8 game */

/* splider */
.WhereIsDeti {
    padding: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    background-color: #f0ece7
    
}
.startEightGame{
    display: flex;
}
/* splitedPanel_pic*/
.WhereIsDeti_pic{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.WhereIsDeti_pic img{
    width: 300px;
    height: 300px;
}
/* splitedPanel_text */
.WhereIsDeti_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.WhereIsDeti_text img{
    width: 150px;
    height: 50px;
}
.WhereIsDeti_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsDeti_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.WhereIsDeti_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.WhereIsDeti_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.WhereIsDeti_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.WhereIsDeti_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}
/* goBack */
.goBack{
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.goBack button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack */
.goBackTo {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.goBackTo button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack */
.moveBack {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBack button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBackTreeList */
.moveBackTreeList {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBackTreeList button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBackErudit */
.moveBackErudit  {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBackErudit button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* items */
.moveBackThisItem  {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBackThisItem button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* Domik*/
.moveBackDomik {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBackDomik  button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* Deti*/
.moveBackDeti{
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.moveBackDeti button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}

/* к */
.goBackInst {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackInst button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack1 */
.goBackToFirstGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFirstGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack2 */
.goBackToSecondGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSecondGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack3 */
.goBackToThirdGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToThirdGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack4 */
.goBackToFourGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFourGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack5 */
.goBackToFiveGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFiveGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack6 */
.goBackToSixGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSixGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack7 */
.goBackToSevenGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSevenGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* goBack8 */
.goBackToEightGame {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToEightGame button{
    cursor: pointer;
    font-size: 20px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/*invise for js*/
.invise{
    display: none;
    transition: 1s all;
}
