*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* menu*/
.menu{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: fixed;
    font-weight: bold;
    background:black; 
    z-index: 1;
}
.nav_main{
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

}
/* .nav_main span:first-child{
    color: #7ab3b2;
}
.nav_main span:nth-child(2){
    color: #9aa84a;
}
.nav_main span:nth-child(3){
    color: #c9753d;
}
.nav_main span:nth-child(4){
    color: #db4f4f;
}
.nav_main span:nth-child(5){
    color: #a585be;
}
.nav_main span:nth-child(6){
    color: #d3994c;
}
.nav_main span:nth-child(7){
    color: #ddd64e;
}
.nav_main span:nth-child(8){
    color: #c9753d;
} */

/* menu_buttons */
.nav_menu_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;

}

/* games */
.nav_fa_games a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_games{
    color: #7ab3b2;
}
.nav_games{
    color: #7ab3b2;
}

/* reading */
.nav_fa_reading a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}

.fa_reading{
    color:#f48f4a;
}
.nav_reading{
    color:#f48f4a;
}

/* videos */
.nav_fa_videos a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_videos{
    color: #8a719e
}
.nav_videos{
    color: #8a719e;
}

/* playground */
.nav_fa_playground a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_playground{
    color: #98a64a;
}
.nav_playground{
    color: #98a64a;
}

/* mathZone */
.nav_fa_mathZone a{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
.fa_mathZone{
    color: #63a0cd;
}
.nav_mathZone{
    color: #63a0cd;
}
/* gradePage */
.gradePage{
    font-weight: bolder;
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #dbd7d2;
}
.grade_span_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}
.grade_span_k a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #dd89b7;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    transition: all 1s;
}
.grade_span_k a:hover{
    background-color: #dd89b7;
    color: black;
    transition: all 1s;
}

.grade_span_1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #66a2cc;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_1 a:hover{
    transition: all 1s;
    background-color: #66a2cc;
    color: black;
}

.grade_span_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #fcbe55;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_2 a:hover{
    transition: all 1s;
    background-color: #fcbe55;
    color: black;
}
.grade_span_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #aabe53;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_3 a:hover{
    transition: all 1s;
    background-color: #aabe53;
    color: black;
}

.grade_span_4 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #f48f4a;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_4 a:hover{
    transition: all 1s;
    background-color: #f48f4a;
    color: black;
}
.grade_span_5 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #a585be;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_5 a:hover{
    transition: all 1s;
    background-color: #a585be;
    color: black;
}

.grade_span_6 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #ddd64e;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_6 a:hover{
    transition: all 1s;
    background-color: #ddd64e;
    color: black;
}
.grade_span_7 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #ff5c5c;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_7 a:hover{
    transition: all 1s;
    background-color: #ff5c5c;
    color: black;
}
.grade_span_8 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    background-color: black;
    color: #7ab3b2;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    transition: all 1s;
}
.grade_span_8 a:hover{
    transition: all 1s;
    background-color: #7ab3b2;
    color: black;
}
/* main_container */
.main_container{
    background-color: #f0ece7;
}

.PopularGames{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularGames a{
    color: black;
    text-decoration: none;
}

.PopularGames span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularGames span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularGames a:hover{
    color:#46ccc5;
}


/* PopularVideos */
.PopularVideos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularVideos a{
    color: black;
    text-decoration: none;
}

.PopularVideos span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularVideos span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularVideos a:hover{
    color:#46ccc5;
}

/* PopularVideos */
.PopularBooks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.PopularBooks a{
    color: black;
    text-decoration: none;
}

.PopularBooks span:first-child{
    font-weight: 900;
    font-size: 28px;
}
.PopularBooks span:nth-child(2){
    font-weight: 300;
    letter-spacing: 0.2em;
}
.PopularBooks a:hover{
    color:#46ccc5;
}
/* empty_panel */

.empty_panel{
    padding: 20px;
    background-color: #f0ece7;
}


/* splitedPanel */
.splitedPanel{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    
}
/* splitedPanel_pic*/
.splitedPanel_pic{
    border-radius: 50px 0 0 50px;
    background-color: #fff9f0;
}

.splitedPanel_pic img{
    width: 400px;
    height: 400px;
}
/* splitedPanel_text */
.splitedPanel_text{
    border-radius: 0 50px 50px 0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;

}
.splitedPanel_text img{
    width: 150px;
    height: 50px;
}
.splitedPanel_firstSpan{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.splitedPanel_secondSpan{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu Condensed', sans-serif;

}
.splitedPanel_secondSpan a{
    font-size: 18px;
    font-weight: 700;
    color: #a585be;
    text-decoration: none;

}
/* button */
.splitedPanel_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;
}
.splitedPanel_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.splitedPanel_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 30px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

/* exampleOfgames */

.games_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfGame */
.first_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfGame_text{
    padding: 20px;
    
}
/* second_exampleOfGame */
.second_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfGame_text{
    padding: 20px;
    
}
/* third_exampleOfGame */
.third_exampleOfGame{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfGame_pic img{
    width: 192px;
    height: 129px;
    background-color: #fff9f0;
}
.third_exampleOfGame_text{
   padding: 20px;
   
}


/* example_of_games Button */
.exampleOfGame_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfGame_button a{
    font-size: 15px;
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfGame_button:hover{
    font-family: Poppins,sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}


/* video */
.video{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* video_example */

.video_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfVideo */
.first_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfVideo_text{
    padding: 20px;
    
}
/* second_exampleOfVideo */
.second_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfVideo_text{
    padding: 20px;
    
}
/* third_exampleOfVideo */
.third_exampleOfVideo{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfVideo_pic img{
    width: 192px;
    height: 129px;
}
.third_exampleOfVideo_text{
   padding: 20px;
   
}


/* example_of_Video Button */
.exampleOfVideo_button {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfVideo_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfVideo_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}

.video{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* exampleOfBooks */

.books_example{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 700;
}

/* first_exampleOfBooks */
.first_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.first_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
    
}
.first_exampleOfBooks_text{
    padding: 20px;
    
}
/* second_exampleOfBooks */
.second_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.second_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
}
.second_exampleOfBooks_text{
    padding: 20px;
    
}
/* third_exampleOfBooks */
.third_exampleOfBooks{
    width: 192px;
    margin: 30px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.third_exampleOfBooks_pic img{
    width: 192px;
    height: 129px;
}
.third_exampleOfBooks_text{
   padding: 20px;
   
}


/* example_of_games Button */
.exampleOfBooks_button {
    font-family: Poppins,sans-serif;
    background-color:#3fe8da;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 2s;
    text-decoration: none;

}
.exampleOfBooks_button a{
    padding: 10px;
    color: #2a2928;
    text-decoration: none;
}
.exampleOfBooks_button:hover{
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color:#397db9;
    color: #2a2928;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-weight: 700;
    transition: all 1s ;
}


/* footer */
.footer{
    padding: 50px;
    background-color: #2a2928;
    width: 100%;
    height: 100%;
    color: #f0ece7;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.footer_item a{
    color: #f0ece7;
    text-decoration: none;
}
/* footerGrade */
.footerGrade{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerGrade_span_text{
    list-style: none;
}

.footerGrade_span_text li:first-child{
    color: #40ccc5;
}

/* footertype */
.footerType{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerType_text{
    list-style: none;
}
.footerType_text li:first-child{
    color: #a585be;
}
/* footerAbout */
.footerAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerAboutSite{
    list-style: none;
}
.footerAboutSite li:first-child{
    color: #aabe53;
}

/* footerPrivacyPolice */
.footerPrivacyPolice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.privacyPolice{
    list-style: none;
}
.privacyPolice li:first-child{
    color: #fff;
    font-weight: 700;
}
.privacyPolice li {
    color: lightgray;
}

/*invise for js*/
.invise{
    display: none;
    transition: 1s all;
}
