* {
    margin: 0;
    padding: 0;
}

.presentationOne{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}

.images-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-container img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-block > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btn {
	left: 5px;
}
#next-btn {
	right: 5px;
}
#dots-block {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dot {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-active {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}

/* 2 */
.presentationTwo{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerTwo {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerTwo img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockTwo > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnTwo {
	left: 5px;
}
#next-btnTwo {
	right: 5px;
}
#dots-blockTwo {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotTwo {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeTwo {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 3 */
.presentationThree{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerThree {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerThree img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockThree > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnThree {
	left: 5px;
}
#next-btnThree{
	right: 5px;
}
#dots-blockThree {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotThree {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeThree {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 4 */
.presentationFour{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerFour {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerFour img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockFour > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnFour {
	left: 5px;
}
#next-btnFour{
	right: 5px;
}
#dots-blockFour {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotFour {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeFour {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 5 */
.presentationFive{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerFive {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerFive img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockFive > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnFive {
	left: 5px;
}
#next-btnFive{
	right: 5px;
}
#dots-blockFive {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotFive {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeFive {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 6 */
.presentationSix{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerSix {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerSix img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockSix > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnSix {
	left: 5px;
}
#next-btnSix{
	right: 5px;
}
#dots-blockSix {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotSix {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeSix {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 7 */
.presentationSeven{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerSeven {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerSeven img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockSeven > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnSeven {
	left: 5px;
}
#next-btnSeven{
	right: 5px;
}
#dots-blockSeven {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotSeven {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeSeven {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/* 8 */
.presentationEight{
	display: block;
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: hidden;
}
.images-containerEight {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
    align-items: center;
}
.images-containerEight img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	
}
.buttons-blockEight > div {
	color: #9f37ff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 2;
}
#prev-btnEight {
	left: 5px;
}
#next-btnEight{
	right: 5px;
}
#dots-blockEight {
	z-index: 2;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.dotEight {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #82629c;
	cursor: pointer;
	outline: none;
}
.dot-activeEight {
	background: #4f2377; 
}
.empty_panelForPresentation{
	padding: 20px;
	background-color: #ffffff;
}
/*invise for js*/
.invise{
    display: none;
    transition: 1s all;
}
