@media only screen and (max-width: 1280px){

.nav_main{
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

}

/* gradePage */
.gradePage{
    font-weight: bolder;
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #dbd7d2;
}
.grade_span_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
}
.grade_span_k a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #dd89b7;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #66a2cc;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #fcbe55;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #aabe53;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}


.grade_span_4 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #f48f4a;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_5 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #a585be;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_6 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ddd64e;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_7 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ff5c5c;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_8 a{
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #7ab3b2;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.video{
    background-color: #f0ece7;;
    padding: 50px;
}

/* footer */
.footer{
    padding: 50px;
    background-color: #2a2928;
    width: 100%;
    height: 300px;
    color: #f0ece7;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
}
/* gobackVideo*/

.goBack {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBack button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}

/* 2 */
.goBackTo {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackTo button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 3 */
.goBackToThree {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToThree button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 4 */
.goBackToFour {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFour button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 5 */
.goBackToFive {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFive button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 6 */
.goBackToSix {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSix button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 7 */
.goBackToSeven {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSeven button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 8 */
.goBackToEight {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToEight button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* к */
.goBackInst {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackInst button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}

}
@media only screen and (max-width: 900px){
    
.nav_main{
    font-size: 15px;

}
.nav_main img{
    width: 80%;
    display: flex;
}
 .nav_games{
     font-size: 13px;
 }
 .nav_reading{
    font-size: 13px;
 }
 .nav_videos{
    font-size: 13px;
 }
 .nav_Zone{
    font-size: 13px;
 }

/* gradePage */
.gradePage{
    font-weight: bolder;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #dbd7d2;
}
.grade_span_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
}
.grade_span_k a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #dd89b7;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #66a2cc;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #fcbe55;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #aabe53;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}


.grade_span_4 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #f48f4a;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_5 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #a585be;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_6 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ddd64e;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}
.grade_span_7 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #ff5c5c;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.grade_span_8 a{
    width: 100px;
    height: 60px;
    background-color: #4f2377; 
    color: #7ab3b2;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

/* footer */
.footer{
    padding: 50px;
    background-color: #2a2928;
    width: 100%;
    height: 300px;
    color: #f0ece7;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
}
/* gobackVideo*/

.goBack {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBack button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}

/* 2 */
.goBackTo {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackTo button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 3 */
.goBackToThree {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToThree button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 4 */
.goBackToFour {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFour button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 5 */
.goBackToFive {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToFive button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 6 */
.goBackToSix {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSix button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 7 */
.goBackToSeven {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToSeven button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* 8 */
.goBackToEight {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackToEight button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}
/* к */
.goBackInst {
    background-color: #f0ece7;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.goBackInst button{
    cursor: pointer;
    font-size: 15px;
    background: #397db9;
    color: white;
    border: 0.5px solid white;
    border-radius: 3em;
    padding: 2px 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 20px;
    
}

}

@media only screen and (max-width: 414px){
    
    .nav_main{
        font-size: 15px;
    
    }
    .nav_main img{
        width: 80%;
        display: flex;
    }
     .nav_games{
        display: none;
     }
     .nav_reading{
        display: none;
     }
     .nav_videos{
        display: none;
     }
     .nav_Zone{
        display: none;
     }
    
    /* gradePage */
    .gradePage{
        font-weight: bolder;
        width: 100%;
        height: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #dbd7d2;
    }
    .grade_span_text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        text-align: center;
    }
    .grade_span_k a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #dd89b7;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    .grade_span_1 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #66a2cc;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    .grade_span_2 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #fcbe55;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    .grade_span_3 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #aabe53;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    
    .grade_span_4 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #f48f4a;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    .grade_span_5 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #a585be;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    .grade_span_6 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #ddd64e;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    .grade_span_7 a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #ff5c5c;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    .grade_span_8 a{
        width: 100px;
        height: 60px;
        background-color: #4f2377; 
        color: #7ab3b2;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 15px;
        transition: all 1s;
    }
    
    /* footer */
    .footer{
        padding: 50px;
        background-color: #2a2928;
        width: 100%;
        height: 300px;
        color: #f0ece7;
        font-family: 'Ubuntu Condensed', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        font-size: 10px;
    }
    /* gobackVideo*/
    
    .goBack {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBack button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    
    /* 2 */
    .goBackTo {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackTo button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 3 */
    .goBackToThree {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToThree button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 4 */
    .goBackToFour {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToFour button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 5 */
    .goBackToFive {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToFive button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 6 */
    .goBackToSix {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToSix button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 7 */
    .goBackToSeven {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToSeven button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* 8 */
    .goBackToEight {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackToEight button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    /* к */
    .goBackInst {
        background-color: #f0ece7;
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: row;
    }
    
    .goBackInst button{
        cursor: pointer;
        font-size: 15px;
        background: #397db9;
        color: white;
        border: 0.5px solid white;
        border-radius: 3em;
        padding: 2px 8px;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;
        
    }
    
    }